Tracker/feedback.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Tracker">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="feedback">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:string" />
              <xs:element name="phone" type="xs:unsignedLong" />
              <xs:element name="email" type="xs:string" />
              <xs:element name="feedback" type="xs:string" />
              <xs:element name="age" type="xs:unsignedByte" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>